
/* Styles for HTML Tags
-----------------------------------------------------------*/
html {
    height: 100%;
}

body {
    height: 100%;
}


/* Styles for layout
-----------------------------------------------------------*/
#main {
    padding-bottom: 30px;
    padding-top: 30px;
    height: 100%;
    position: relative;
}

#wrapper, #leftCol, #rightCol {
    height: 100%;
}
