html, body, #main {
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftCol {
    float: left;
    width: 78%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
}

#rightCol {
    float: right;
    width: 20%;
    height: 100%;
    padding-top: 30px;
}

#row1 {
    height: 60%;
}

    #row1 td {
        padding: 30px 10px 10px 20px;
    }

/*#row2 {
    height: 70%;
}

    #row2 td {
        padding: 10px 10px 10px 20px;
    }*/

#row3 {
    height: 40%;
}

    #row3 td:first-child {
        padding: 10px 10px 30px 20px;
    }

    #row3 td:last-child {
        padding: 10px 10px 30px 10px;
    }

#usMapCanvas, #euMapCanvas, #asiaMapCanvas, #timeFlowChart {
    height: 100%;
}

#usMapCanvas {
    /*width: 1160px;*/
    /*height: 520px;*/
}

#timeFlowChart {
    display: none;
    /*width: 1200px;*/
    height: 510px;
}

#revenueCounter {
    margin: 10px 0;
}

#reservationCounter{
    margin: 10px 0;
}

#pieChart2 {
    float: right;
    width: 300px;
    height: 400px; 
    margin-top: 20px;
    margin-right: 10px;
}

/*.infoBox{
    width: 100px;
    height: 80px;
    background-color:whitesmoke;
    border: 2px solid navy;
}*/
