html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

#leftCol {
    float: left;
    width: 80%;
    height: 100%;
}

#rightCol {
    float: right;
    width: 20%;
    height: 100%;
}

#topBanner {
    height: 120px;
}

#usMapCanvas {
    height: 600px;
}

#euMapCanvas, #asiaMapCanvas {
    height: 400px;
    padding-top: 20px;
}

#asiaMapCanvas {
    width: 45%;
    float: right;
}

#euMapCanvas {
    width: 45%;
    float: left;
}

#counters {
   
}

#pieChart {
    
}


