@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main" class="container-fluid">
    <div id="wrapper" class="row-fluid">
        <div id="leftCol" class="span9">
            <div id="topBanner" class="well">
            </div>
            <div id="mapCanvas" class="well">
            </div>
        </div>
        <div id="rightCol" class="span3">
            <div id="feeds" class="well"></div>
            <div id="pieChart" class="well"></div>
        </div>
    </div>
</div>
