@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main">
    <div id="leftCol">
        <div id="topBanner">
            <span id="revenueCounter">$2020932</span>
            <span id="reservationCounter">832943</span>
        </div>
        <div id="usMapCanvas"></div>
        <div id="others">
        </div>
    </div>
    <div id="rightCol">
        <div id="feeds">
        </div>
        <div id="pieChart"></div>
    </div>

</div>
