@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main">
    <table id="leftCol">
        <tr id="row1">
            <td colspan="2">
                <div id="topFlowChart">
                </div>
            </td>
        </tr>
        <tr id="row2">
            <td colspan="2">
                <div id="usMapCanvas"></div>
            </td>
        </tr>
        <tr id="row3">
            <td>
                <div id="euMapCanvas"></div>
            </td>
            <td>
                <div id="asiaMapCanvas"></div>
            </td>
        </tr>
    </table>
    <div id="rightCol">
        <div id="counters">
            <div id="revenueCounter"></div>
            <div id="reservationCounter"></div>
        </div>
        <div id="pieChart"></div>
    </div>

</div>
