@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main">
    <div id="leftCol">
        <div id="topBanner">
        </div>
        <div id="usMapCanvas"></div>
        <div id="euMapCanvas">
        </div>
        <div id="asiaMapCanvas">
        </div>
    </div>
    <div id="rightCol">
        <div id="counters">
            <div id="revenueCounter">$2020932</div>
            <div id="reservationCounter">832943</div>
        </div>
        <div id="pieChart"></div>
    </div>

</div>
