@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main">
    <div id="leftCol">
        <div id="topBanner"></div>
        <div id="mapCanves"></div>
    </div>
    <div id="rightCol">
        <div id="feeds"></div>
        <div id="pieChart"></div>
    </div>
</div>
