@{
    ViewBag.Title = "OpenTable Current";
}

<div id="main">
    <table id="leftCol">
        <tr id="row1">
            <td colspan="2">
                <div id="usMapCanvas"></div>
            </td>
        </tr>

        <tr id="row2">
            <td>
                <div id="euMapCanvas"></div>
            </td>
            <td>
                <div id="asiaMapCanvas"></div>
            </td>
        </tr>
    </table>
    <div id="rightCol">
        <div>
            <p class="counterTitle">Counting Start:</p>
            <p id="startPoint"></p>
        </div>
        <div id="counters">
            <p class="counterTitle">Revenue:</p>
            <div id="dollar"></div>
            <div id="revenueCounter" class="flip-counter"></div>
            <p class="counterTitle">Reservation Count:</p>
            <div id="reservationCounter" class="flip-counter"></div>
        </div>
        <div id="pieChart"></div>
    </div>

</div>
